.friend-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(
			"https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fsafe-img.xhscdn.com%2Fbw1%2F146c162c-2c43-4323-b86d-b435e10fc1f1%3FimageView2%2F2%2Fw%2F1080%2Fformat%2Fjpg&refer=http%3A%2F%2Fsafe-img.xhscdn.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1712298447&t=abf160de712c33b88e3cf8b649be612e"
		)
		center center / cover no-repeat;
}
.friend-box {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	width: 70%;
	max-width: 1000px;
	height: 100%;
	overflow: hidden;
	background-color: white;
	border-radius: 10px;
	transform: translateX(-50%) translateY(-50%);
}
.friend-aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60px;
	border-right: 1px solid #eeeeee;
}
.friend-bode {
	display: flex;

	// flex: 1;
}
.body-left {
	width: 260px;
	box-shadow: 3px 0 6px #eeeeee;
}
.body-right {
	position: relative;
	flex: 1;
}
.user-thumb {
	width: 36px;
	height: 36px;
	margin-top: 15px;
	margin-left: 12px;
	cursor: pointer;
}
.friend-chat {
	margin-top: 25px;
	text-align: center;
	cursor: pointer;
}
.friend-text {
	font-size: 13px;
}
.friend-set {
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
}
.im-input {
	width: 240px;
	margin: 13px;
}
.im-user {
	box-sizing: border-box;
	display: flex;
	height: 60px;
	padding: 10px;
	cursor: pointer;
}
.im-user-group {
	box-sizing: border-box;
	display: flex;
	height: 65px;
	padding: 10px;
	cursor: pointer;
}
.im-active,
.friend-active,
.im-group {
	background: var(
		"https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fsafe-img.xhscdn.com%2Fbw1%2F146c162c-2c43-4323-b86d-b435e10fc1f1%3FimageView2%2F2%2Fw%2F1080%2Fformat%2Fjpg&refer=http%3A%2F%2Fsafe-img.xhscdn.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1712298447&t=abf160de712c33b88e3cf8b649be612e"
	);
}
.im-user-right {
	flex: 1;
	margin-left: 20px;
}
.aside-list {
	height: calc(100% - 60px);
}
.im-down {
	margin-top: 3px;
	font-size: 12px;
	color: #797979;
}
.aside-active {
	font-weight: 800;
	color: blue;
}
.im-friend {
	align-self: center;
	margin-left: 20px;
	font-size: 15px;
}
.body-left >>> .el-divider .el-divider__title {
	font-size: 12px;
	color: #797979;
	letter-spacing: 2px;
}
.group-tag {
	padding: 2px;
	margin-right: 12px;
	color: white;
	background: orange;
	border-radius: 2px;
}
.msg-one {
	display: flex;
	align-items: flex-start;
	margin: 15px 20px;
}

/* 滚动条 */
.friend-box ::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.friend-box ::-webkit-scrollbar-thumb {
	background-color: #cacacb;
	border-radius: 5px;
}
.sendMsg .el-button {
	height: 35px;
	padding: 15px 25px;
}
.system-date {
	margin-bottom: 5px;
	font-size: 12px;
	color: #797979;
}
.system-content {
	max-width: 80%;
	padding: 5px 10px;
	line-height: 25px;
	color: black;
	word-break: break-all;
	background-color: #cfe7ff;
	border-radius: 4px;
}
.friend-request {
	height: calc(100% - 60px);
	overflow-y: scroll;
	background: #f3f3f3;
}
.request-status {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: right;
	font-size: 16px;
	color: #797979;
}
.friend-label {
	margin-right: 30px;
	color: #797979;
}
.friend-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 65%;
	padding-top: 50px;
}
.myCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
.body-right .el-card.el-card--bordered {
	border: none;
}
#outerImg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 60%);
}
.mobile-right::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: white;
	cursor: pointer;
	content: "👈";
	background: #595a5a;
}
.pagination-wrap {
	display: flex;
	justify-content: center;
	height: 35px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.treeHole-wrap {
	width: 800px;
	height: calc(100vh - 100px);
	overflow-y: scroll;
}
.treeHole-wrap::-webkit-scrollbar-thumb {
	background-color: #cacacb;
	border-radius: 5px;
}
.treeHole-wrap::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.weiyan-edit {
	width: 350px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
}
.email-wrap {
	padding: 20px;
	background: white;
	border-radius: 10px;
	transition: all 1s ease;
}
.email-title {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 30px;
}

@media screen and (max-width: 1200px) {
	.friend-box {
		width: 95vw;
		height: 95vh;
	}
}

@media screen and (max-width: 850px) {
	.friend-box {
		width: 100vw;
		height: 100vh;
		border-radius: unset;
	}
	.friend-bode {
		max-width: calc(100vw - 60px);
	}
	.body-right {
		max-width: calc(100vw - 60px);
	}
	.treeHole-wrap {
		width: calc(100vw - 40px);
	}
}

@media screen and (max-width: 400px) {
	.msg-one {
		margin: 15px 10px;
	}
	.friend-model {
		width: 90% !important;
	}
}
body {
	font-family: SmileySans, serif;
	color: black;
	word-break: break-word;
}

@font-face {
	font-family: SmileySans;
	src: url("");
	font-display: swap;
}

/* 居中 */
// .myCenter {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }
.transformCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 两边 */
.myBetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* 滚动条 */
.group-card ::-webkit-scrollbar {
}
.image-list::-webkit-scrollbar {
	display: none;
}

/* el弹出框样式 */
.el-message {
	top: 80px !important;
	border: 0;
}
.el-message * {
	font-weight: 600;
	color: white !important;
}
.el-message--success {
	background: orange;
}
.el-message--warning {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
.el-message--error {
	background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.message img {
	max-width: 250px !important;
}
.v-x-scroll {
	overflow: unset;
}
.el-base-icon.el-dialog__icon {
	display: none;
}

@media screen and (max-width: 400px) {
	.emoji-body {
		max-width: 230px !important;
	}
	.el-modal {
		width: 70% !important;
	}
}
.mycentersdf {
	margin: 40px 0;
}
