/* 以my-animation-开头的class */
[class*="my-animation-"] {
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

.my-animation-slide-top {
	animation-name: slide-top;
}

.my-animation-slide-bottom {
	animation-name: slide-bottom;
}

.my-animation-hideToShow {
	animation-name: hideToShow;
}

/* 上移 */
@keyframes slide-top {
	0% {
		opacity: 0;
		transform: translateY(-20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* 下移 */
@keyframes slide-bottom {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* 首图动画：下移 */
@keyframes header-effect {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* 旋转 */
@keyframes rotate {
	0% {
		opacity: 1;
		transform: rotate(0deg);
	}

	100% {
		opacity: 1;
		transform: rotate(360deg);
	}
}

/* 显示 */
@keyframes hideToShow {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* 下移 */
@keyframes my-shake {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	30% {
		opacity: 0.5;
		transform: translateY(25px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* 上移 */
@keyframes scatter {
	0% {
		top: 0;
	}

	50% {
		top: -15px;
	}

	100% {
		top: 0;
	}
}

/* 放大 */
@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

/* 放大 */
@keyframes imgScale {
	0% {
		transform: scale(0.8, 0.8);
	}

	70% {
		transform: scale(1.3, 1.3);
	}

	100% {
		transform: scale(0.8, 0.8);
	}
}

/* 渐变 */
@keyframes jianBian {
	to {
		background-position: -2000rem;
	}
}

/* 背景位置移动 */
@keyframes gradientBG {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

/* 阴影变化 */
@keyframes weiYanShadowFlashing {
	0% {
		box-shadow: none;
	}

	50% {
		box-shadow: 0 0 15px var(--red);
	}

	100% {
		box-shadow: none;
	}
}

/* 有小变大 */
@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

/* 由左开向右 */
@keyframes passing {
	0% {
		transform: translateX(-150%);
		opacity: 0;
	}

	50% {
		transform: translateX(0);
		opacity: 1;
	}

	100% {
		transform: translateX(150%);
		opacity: 0;
	}
}

.content-box {
	/* position: relative; */
	.backgroundtrue {
		position: absolute;
		width: 100%;

		// width: 100vw;
		// height: 87.3vh;
		// background-image: url("@/assets/lnl_images/infinity-2168510.jpg");
		background-size: 100% 100%;
		transform: translateY(-10px);
	}
	.body {
		position: relative;
		top: -40px;
		z-index: 999;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100vw;
		padding: 20px 0;
		padding-top: 50px;
		margin: 0;
		opacity: 0.9;
		.left {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 63%;
			margin-right: 20px;

			// background-color: red;
			transform: translate(22%);
			.commentoter {
				width: 90%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				margin: auto;
			}
			.comment {
				position: relative;
				width: 26%;
				height: 365px;
				padding: 20px;
				padding-top: 10px;
				// padding-left: 120px;
				margin-bottom: 20px;
				color: #4f4f4f;
				cursor: pointer;
				background-color: white;
				border-radius: 10px;
				box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
				.avatar {
					// position: relative;
					// left: -60px;
					display: flex;
					align-items: center;

					// background-color: pink;
					.ipschool {
						// position: absolute;
						// right: -60px;
						display: flex;
						align-items: center;
					}
					.avatarimage1 {
						width: 50px;
						height: 50px;
						margin-right: 10px;
						overflow: hidden;
						border-radius: 50%;
						img {
							width: 100%;
						}
					}
					.avatarimage {
						overflow: hidden;
					}
					.username {
						margin-right: 20px;
						font-size: 14px;
					}
					.score {
						color: #f56c6c;
					}
				}
				.usercomment {
					// background-color: red;
					display: -webkit-box;
					height: 58px;
					padding: 5px 0;
					overflow: hidden;
					font-size: 15px;
					color: #777777;
					word-break: break-all;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
				.imageOter {
					display: flex;
					width: 100%;
					height: 200px;
					border-radius: 10px;
					.image {
						width: 100%;
						margin: 0 3px;
						border-radius: 10px;
					}
				}
				.timecontanerall {
					position: absolute;
					bottom: 10px;
					display: flex;
					align-items: center;
					justify-content: space-around;

					// width: 100%;
					font-size: 12px;

					// background-color: blueviolet;
					.timecontaner {
						display: flex;
						align-items: center;
						.time {
							display: block;
							margin-top: 5px;
							margin-right: 30px;
						}
					}
				}
			}
		}
		.right {
			position: absolute;
			top: 50px;
			left: 10%;
			width: 20%;
			.user-image {
				width: 110px;
				height: 110px;
				border-radius: 50%;
			}
			.selfinformation {
				margin-bottom: 15px;
				overflow: hidden;
				border-radius: 15px;
				.avatar {
					display: flex;
					justify-content: center;
					margin-bottom: 10px;
				}
				.username {
					font-size: 21px;
					text-align: center;
				}
				.desx {
					height: 40px;
					padding-top: 10px;
					overflow: hidden;
					text-align: center;
					text-overflow: ellipsis;
				}
				.button {
					display: flex;
					justify-content: center;
				}
			}
			.notice {
				margin-bottom: 15px;
				overflow: hidden;
				font-size: 18px;
				border-radius: 15px;
				.noticeinfo {
					padding-top: 10px;
					font-size: 13px;
				}
				.switchschool {
					display: flex;
					justify-content: space-between;
				}
			}
			.tag {
				margin-top: 10px;
				overflow: hidden;
				border-radius: 15px;
				.ml-2 {
					margin: 7px 4px;
					cursor: pointer;
				}
			}
		}
	}
	.card-content1 {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
		background-size: 400% 400%;
		border-radius: 10px;
		animation: gradientBG 10s ease infinite;
	}
	.card-content1 :not(:first-child) {
		z-index: 10;
	}
	.web-name {
		margin: 20px 0;
		font-size: 25px;
		font-weight: bold;
	}
	.desx {
		padding-bottom: 15px;
	}
	.web-info {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 80%;
	}
	.blog-info-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.blog-info-num {
		margin-top: 12px;
	}
	.collection-btn {
		position: relative;
		z-index: 1;
		width: 65%;
		height: 35px;
		margin-top: 12px;
		margin-bottom: 25px;
		overflow: hidden;
		line-height: 35px;
		color: white;
		text-align: center;
		cursor: pointer;
		background: #39c5bb;
		border-radius: 1rem;
	}
	.collection-btn::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		content: "";
		background: linear-gradient(to right, #ff4b2b, #ff416c);
		border-radius: 1rem;
		transition: transform 0.5s ease-out;
		transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
		transform: scaleX(0);
		transform-origin: 0;
	}
	.collection-btn:hover::before {
		transform: scaleX(1);
	}
	.card-content2-title {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.card-content2-icon {
		margin-right: 5px;
		color: red;
		animation: scale 1s ease-in-out infinite;
	}
	.aside-post-detail {
		display: flex;
		cursor: pointer;
	}
	.aside-post-image {
		width: 40%;
		height: 70px;
		margin-right: 8px;
		overflow: hidden;
		border-radius: 0.2rem;
	}
	.error-aside-image {
		width: 100%;
		height: 100%;
		padding: 10px;
		color: white;
		text-align: center;
		background: orange;
	}
	.aside-post-title {
		width: 60%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.aside-post-date {
		margin-top: 8px;
		margin-bottom: 20px;
		font-size: 12px;
		color: #797979;
	}
	.post-sort {
		margin-bottom: 15px;
		line-height: 30px;
		border-radius: 1rem;
		transition: all 0.3s;
	}
	.post-sort:hover {
		padding: 2px 15px;
		color: white;
		cursor: pointer;
		background: orange;
	}
	.sort-name {
		margin-top: 15px;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.sort-name::after {
		position: absolute;
		top: 74px;
		left: 26px;
		width: 22px;
		height: 2px;
		content: "";
		background: white;
		border-radius: 1px;
	}
	.admire-box {
		// background: var(--springBg) center center / cover no-repeat;
		padding: 25px;
		margin-top: 30px;
		border-radius: 10px;
		animation: hideToShow 1s ease-in-out;
	}
	.admire-btn {
		width: 100px;
		padding: 13px 15px;
		margin: 20px auto 0;
		color: white;
		text-align: center;
		cursor: pointer;
		user-select: none;
		background: #ff416c;
		border-radius: 3rem;
		transition: all 1s;
	}
	.admire-btn:hover {
		transform: scale(1.2);
	}
	.admire-image {
		width: 150px;
		height: 150px;
		margin: 0 auto 10px;
		border-radius: 10px;

		// background: var(--admireImage) center center / cover no-repeat;
	}
	.admire-content {
		margin: 5px;
		font-size: 12px;
		line-height: 1.5;
		color: #595a5a;
	}
	.ais-SearchBox-input {
		width: calc(100% - 50px);
		height: 30px;
		padding: 0 14px;
		color: #595a5a;
		background: white;
		border: 2px solid #39c5bb;
		border-right: 0;
		border-radius: 40px 0 0 40px;
		outline: 0;
	}
	.ais-SearchBox-submit {
		width: 50px;
		height: 30px;
		cursor: pointer;
		background: white;
		border: 2px solid #39c5bb;
		border-left: 0;
		border-radius: 0 40px 40px 0;
	}
}
.shadow-box {
	box-shadow: 0 1px 20px -6px rgb(0 0 0 / 50%);
	transition: all 0.3s ease;
}
.shadow-box:hover {
	box-shadow: 0 5px 10px 5px rgb(110 110 110 / 40%);
}
.my-el-image {
	width: 100%;
	height: 100%;
}

// 右边文章样式
.signature-wall {
	position: relative;

	/* 向下排列 */
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	user-select: none;
}
.playful {
	font-size: 40px;
	color: white;
}
.sort-article-first {
	display: flex;
	justify-content: space-between;
	padding-bottom: 5px;
	margin: 40px auto 20px;
	color: #797979;
	border-bottom: 1px dashed #dddddd;
}
.article-more {
	cursor: pointer;
	transition: all 0.3s;
}
.article-more:hover {
	font-weight: 700;
	color: #39c5bb;
	transform: scale(1.1);
}

/* .playful span { */

/*  position: relative; */

/*  color: #5362f6; */

/*  text-shadow: 0.25px 0.25px #e485f8, 0.5px 0.5px #e485f8, 0.75px 0.75px #e485f8, */

/*  1px 1px #e485f8, 1.25px 1.25px #e485f8, 1.5px 1.5px #e485f8, 1.75px 1.75px #e485f8, */

/*  2px 2px #e485f8, 2.25px 2.25px #e485f8, 2.5px 2.5px #e485f8, 2.75px 2.75px #e485f8, */

/*  3px 3px #e485f8, 3.25px 3.25px #e485f8, 3.5px 3.5px #e485f8, 3.75px 3.75px #e485f8, */

/*  4px 4px #e485f8, 4.25px 4.25px #e485f8, 4.5px 4.5px #e485f8, 4.75px 4.75px #e485f8, */

/*  5px 5px #e485f8, 5.25px 5.25px #e485f8, 5.5px 5.5px #e485f8, 5.75px 5.75px #e485f8, */

/*  6px 6px #e485f8; */

/*  animation: scatter 1.75s infinite; */

/*  font-weight: normal; */

/* } */

/* .playful span:nth-child(2n) { */

/*  color: #ed625c; */

/*  text-shadow: 0.25px 0.25px #f2a063, 0.5px 0.5px #f2a063, 0.75px 0.75px #f2a063, */

/*  1px 1px #f2a063, 1.25px 1.25px #f2a063, 1.5px 1.5px #f2a063, 1.75px 1.75px #f2a063, */

/*  2px 2px #f2a063, 2.25px 2.25px #f2a063, 2.5px 2.5px #f2a063, 2.75px 2.75px #f2a063, */

/*  3px 3px #f2a063, 3.25px 3.25px #f2a063, 3.5px 3.5px #f2a063, 3.75px 3.75px #f2a063, */

/*  4px 4px #f2a063, 4.25px 4.25px #f2a063, 4.5px 4.5px #f2a063, 4.75px 4.75px #f2a063, */

/*  5px 5px #f2a063, 5.25px 5.25px #f2a063, 5.5px 5.5px #f2a063, 5.75px 5.75px #f2a063, */

/*  6px 6px #f2a063; */

/*  animation-delay: 0.3s; */

/* } */

/* .playful span:nth-child(3n) { */

/*  color: #ffd913; */

/*  text-shadow: 0.25px 0.25px #6ec0a9, 0.5px 0.5px #6ec0a9, 0.75px 0.75px #6ec0a9, */

/*  1px 1px #6ec0a9, 1.25px 1.25px #6ec0a9, 1.5px 1.5px #6ec0a9, 1.75px 1.75px #6ec0a9, */

/*  2px 2px #6ec0a9, 2.25px 2.25px #6ec0a9, 2.5px 2.5px #6ec0a9, 2.75px 2.75px #6ec0a9, */

/*  3px 3px #6ec0a9, 3.25px 3.25px #6ec0a9, 3.5px 3.5px #6ec0a9, 3.75px 3.75px #6ec0a9, */

/*  4px 4px #6ec0a9, 4.25px 4.25px #6ec0a9, 4.5px 4.5px #6ec0a9, 4.75px 4.75px #6ec0a9, */

/*  5px 5px #6ec0a9, 5.25px 5.25px #6ec0a9, 5.5px 5.5px #6ec0a9, 5.75px 5.75px #6ec0a9, */

/*  6px 6px #6ec0a9; */

/*  animation-delay: 0.15s; */

/* } */

/* .playful span:nth-child(5n) { */

/*  color: #555bff; */

/*  text-shadow: 0.25px 0.25px #e485f8, 0.5px 0.5px #e485f8, 0.75px 0.75px #e485f8, */

/*  1px 1px #e485f8, 1.25px 1.25px #e485f8, 1.5px 1.5px #e485f8, 1.75px 1.75px #e485f8, */

/*  2px 2px #e485f8, 2.25px 2.25px #e485f8, 2.5px 2.5px #e485f8, 2.75px 2.75px #e485f8, */

/*  3px 3px #e485f8, 3.25px 3.25px #e485f8, 3.5px 3.5px #e485f8, 3.75px 3.75px #e485f8, */

/*  4px 4px #e485f8, 4.25px 4.25px #e485f8, 4.5px 4.5px #e485f8, 4.75px 4.75px #e485f8, */

/*  5px 5px #e485f8, 5.25px 5.25px #e485f8, 5.5px 5.5px #e485f8, 5.75px 5.75px #e485f8, */

/*  6px 6px #e485f8; */

/*  animation-delay: 0.4s; */

/* } */

/* .playful span:nth-child(7n) { */

/*  color: #ff9c55; */

/*  text-shadow: 0.25px 0.25px #ff5555, 0.5px 0.5px #ff5555, 0.75px 0.75px #ff5555, */

/*  1px 1px #ff5555, 1.25px 1.25px #ff5555, 1.5px 1.5px #ff5555, 1.75px 1.75px #ff5555, */

/*  2px 2px #ff5555, 2.25px 2.25px #ff5555, 2.5px 2.5px #ff5555, 2.75px 2.75px #ff5555, */

/*  3px 3px #ff5555, 3.25px 3.25px #ff5555, 3.5px 3.5px #ff5555, 3.75px 3.75px #ff5555, */

/*  4px 4px #ff5555, 4.25px 4.25px #ff5555, 4.5px 4.5px #ff5555, 4.75px 4.75px #ff5555, */

/*  5px 5px #ff5555, 5.25px 5.25px #ff5555, 5.5px 5.5px #ff5555, 5.75px 5.75px #ff5555, */

/*  6px 6px #ff5555; */

/*  animation-delay: 0.25s; */

/* } */
.printer {
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	cursor: pointer;
	background: rgb(0 0 0 / 50%);
	border-radius: 10px;
}
#bannerWave1 {
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 200%;
	height: 84px;
	background: url(./file/bannerwave1.png) repeat-x;
	animation: gradientBG 120s linear infinite;
}
#bannerWave2 {
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 400%;
	height: 100px;
	background: url(./file/bannerwave2.png) repeat-x;
	animation: gradientBG 120s linear infinite;
}

/* 光标 */
.cursor {
	margin-left: 1px;
	font-weight: 200;
	animation: hideToShow 0.7s infinite;
}
.el-icon-arrow-down {
	position: absolute;
	bottom: 60px;
	z-index: 15;
	font-size: 40px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	animation: my-shake 1.5s ease-out infinite;
}
.page-container-wrap {
	position: relative;
	// background: white;
}
.page-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 95%;
	padding: 0 20px 40px;
	margin: 0 auto;
	// background-color: #39c5bb;
}
.recent-posts {
	width: 100%;
}
.announcement {
	display: flex;
	padding: 22px;
	margin: 40px auto;
	color: #797979;
	border: 1px dashed #dddddd;
	border-radius: 10px;
}
.announcement i {
	margin: auto 0;
	font-size: 22px;
	color: orange;
	animation: scale 0.8s ease-in-out infinite;
}
.announcement div div {
	margin-left: 20px;
	line-height: 30px;
}
.aside-content {
	float: right;
	width: calc(30% - 40px);
	max-width: 300px;
	margin-top: 40px;
	margin-right: 40px;
	user-select: none;
}
.pagination-wrap {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.pagination {
	width: 100px;
	padding: 13px 15px;
	color: #797979;
	text-align: center;
	cursor: pointer;
	user-select: none;
	border: 1px solid #dddddd;
	border-radius: 3rem;
}
.pagination:hover {
	color: orange;
	border: 1px solid orange;
	box-shadow: 0 0 5px orange;
}

@media screen and (max-width: 1100px) {
	.recent-posts {
		width: 100%;
	}
	.page-container {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.page-container {
		/* 文章栏与侧标栏垂直排列 */
		flex-direction: column;
	}
	.aside-content {
		float: unset;
		width: 100%;
		max-width: unset;
		margin: 40px auto 0;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 35px;
	}
}
