.content-box {
	/* position: relative; */
	.backgroundtrue {
		position: absolute;
		width: 100%;

		// width: 100vw;
		// height: 87.3vh;
		// background-image: url("@/assets/lnl_images/infinity-2168510.jpg");
		background-size: 100% 100%;
		transform: translateY(-10px);
	}
	.body {
		position: relative;
		top: -40px;
		z-index: 999;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100vw;
		padding: 20px 0;
		padding-top: 50px;
		margin: 0;
		opacity: 0.9;
		.left {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 63%;
			margin-right: 20px;

			// background-color: red;
			transform: translate(22%);
			.comment {
				position: relative;
				width: 26%;
				height: 350px;
				padding: 20px;

				// padding-left: 120px;
				margin-bottom: 20px;
				color: #4f4f4f;
				cursor: pointer;
				background-color: white;
				border-radius: 10px;
				box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
				.avatar {
					// position: relative;
					// left: -60px;
					display: flex;
					align-items: center;

					// background-color: pink;
					.ipschool {
						// position: absolute;
						// right: -60px;
						display: flex;
						align-items: center;
					}
					.avatarimage1 {
						width: 50px;
						height: 50px;
						margin-right: 10px;
						overflow: hidden;
						border-radius: 50%;
						img {
							width: 100%;
						}
					}
					.avatarimage {
						overflow: hidden;
					}
					.username {
						margin-right: 20px;
						font-size: 14px;
					}
					.score {
						color: #f56c6c;
					}
				}
				.usercomment {
					// background-color: red;
					display: -webkit-box;
					height: 58px;
					padding: 5px 0;
					overflow: hidden;
					font-size: 15px;
					color: #777777;
					word-break: break-all;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
				.imageOter {
					display: flex;
					width: 100%;
					height: 200px;
					border-radius: 10px;
					.image {
						width: 100%;
						margin: 0 3px;
						border-radius: 10px;
					}
				}
				.timecontanerall {
					position: absolute;
					bottom: 10px;
					display: flex;
					align-items: center;
					justify-content: space-around;

					// width: 100%;
					font-size: 12px;

					// background-color: blueviolet;
					.timecontaner {
						display: flex;
						align-items: center;
						.time {
							display: block;
							margin-top: 5px;
							margin-right: 30px;
						}
					}
				}
			}
		}
		.right {
			position: absolute;
			top: 50px;
			left: 10%;
			width: 20%;
			.user-image {
				width: 110px;
				height: 110px;
				border-radius: 50%;
			}
			.selfinformation {
				margin-bottom: 15px;
				overflow: hidden;
				border-radius: 15px;

				.avatar {
					display: flex;
					justify-content: center;
					margin-bottom: 10px;
				}
				.username {
					font-size: 21px;
					text-align: center;
				}
				.desx {
					height: 40px;
					padding-top: 10px;
					overflow: hidden;
					text-align: center;
					text-overflow: ellipsis;
				}
				.button {
					display: flex;
					justify-content: center;
				}
			}
			.notice {
				margin-bottom: 15px;
				overflow: hidden;
				font-size: 18px;
				border-radius: 15px;
				.noticeinfo {
					padding-top: 10px;
					font-size: 13px;
				}
				.switchschool {
					display: flex;
					justify-content: space-between;
				}
			}
			.tag {
				overflow: hidden;
				border-radius: 15px;
				margin-top: 10px;
				.ml-2 {
					margin: 7px 4px;
					cursor: pointer;
				}
			}
		}
	}

	.card-content1 {
		background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
		background-size: 400% 400%;
		animation: gradientBG 10s ease infinite;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
	}

	.card-content1 :not(:first-child) {
		z-index: 10;
	}

	.web-name {
		font-size: 25px;
		font-weight: bold;
		margin: 20px 0;
	}
	.desx {
		padding-bottom: 15px;
	}

	.web-info {
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.blog-info-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.blog-info-num {
		margin-top: 12px;
	}

	.collection-btn {
		position: relative;
		margin-top: 12px;
		background: #39c5bb;
		cursor: pointer;
		width: 65%;
		height: 35px;
		border-radius: 1rem;
		text-align: center;
		line-height: 35px;
		color: white;
		overflow: hidden;
		z-index: 1;
		margin-bottom: 25px;
	}

	.collection-btn::before {
		background: linear-gradient(to right, #ff4b2b, #ff416c);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		transform: scaleX(0);
		transform-origin: 0;
		transition: transform 0.5s ease-out;
		transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
		border-radius: 1rem;
		z-index: -1;
	}

	.collection-btn:hover::before {
		transform: scaleX(1);
	}

	.card-content2-title {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.card-content2-icon {
		color: red;
		margin-right: 5px;
		animation: scale 1s ease-in-out infinite;
	}

	.aside-post-detail {
		display: flex;
		cursor: pointer;
	}

	.aside-post-image {
		width: 40%;
		height: 70px;
		border-radius: 0.2rem;
		margin-right: 8px;
		overflow: hidden;
	}

	.error-aside-image {
		background: orange;
		color: white;
		padding: 10px;
		text-align: center;
		width: 100%;
		height: 100%;
	}

	.aside-post-title {
		width: 60%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.aside-post-date {
		margin-top: 8px;
		margin-bottom: 20px;
		color: #797979;
		font-size: 12px;
	}

	.post-sort {
		border-radius: 1rem;
		margin-bottom: 15px;
		line-height: 30px;
		transition: all 0.3s;
	}

	.post-sort:hover {
		background: orange;
		padding: 2px 15px;
		cursor: pointer;
		color: white;
	}

	.sort-name {
		font-weight: bold;
		font-size: 25px;
		margin-top: 15px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.sort-name:after {
		top: 74px;
		width: 22px;
		left: 26px;
		height: 2px;
		background: white;
		content: "";
		border-radius: 1px;
		position: absolute;
	}

	.admire-box {
		// background: var(--springBg) center center / cover no-repeat;
		padding: 25px;
		border-radius: 10px;
		animation: hideToShow 1s ease-in-out;
		margin-top: 30px;
	}

	.admire-btn {
		padding: 13px 15px;
		background: #ff416c;
		border-radius: 3rem;
		color: white;
		width: 100px;
		user-select: none;
		cursor: pointer;
		text-align: center;
		margin: 20px auto 0;
		transition: all 1s;
	}

	.admire-btn:hover {
		transform: scale(1.2);
	}

	.admire-image {
		margin: 0 auto 10px;
		border-radius: 10px;
		height: 150px;
		width: 150px;
		// background: var(--admireImage) center center / cover no-repeat;
	}

	.admire-content {
		font-size: 12px;
		color: #595a5a;
		line-height: 1.5;
		margin: 5px;
	}

	.ais-SearchBox-input {
		padding: 0 14px;
		height: 30px;
		width: calc(100% - 50px);
		outline: 0;
		border: 2px solid #39c5bb;
		border-right: 0;
		border-radius: 40px 0 0 40px;
		color: #595a5a;
		background: white;
	}

	.ais-SearchBox-submit {
		height: 30px;
		width: 50px;
		border: 2px solid #39c5bb;
		border-left: 0;
		border-radius: 0 40px 40px 0;
		background: white;
		cursor: pointer;
	}
}

.shadow-box {
	box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}

.shadow-box:hover {
	box-shadow: 0 5px 10px 5px rgba(110, 110, 110, 0.4);
}

.my-el-image {
	width: 100%;
	height: 100%;
}
