.recent-post-container {
	display: flex;
	flex-wrap: wrap;
}
.recent-post-item {
	position: relative;
	flex-shrink: 0;
	width: calc(100% / 3 - 20px);
	height: 350px;
	margin: 10px;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	border-radius: 10px;
	animation: zoomIn 0.8s ease-in-out;
}
.recent-post-item-image {
	width: 100%;
	height: 170px;
}
.recent-post-item-image >>> .el-image__inner {
	transition: all 1s;
}
.recent-post-item-image >>> .el-image__inner:hover {
	transform: scale(1.2);
}
.recent-post-item-post {
	width: 100%;
	height: 180px;
	padding: 10px 15px;
}
.recent-post-item-post h3 {
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.post-meta {
	font-size: 12px;
	color: #797979;
}
.recent-post-desc {
	display: -webkit-box;
	overflow: hidden;
	font-size: 13px;
	line-height: 1.4;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.sort-label {
	position: absolute;
	bottom: 10px;
}
.sort-label span {
	padding: 2px 4px;
	font-size: 14px;
	color: #797979;
	cursor: pointer;
	user-select: none;
	background-color: #eeeeee;
	border-radius: 3px;
	transition: all 0.3s;
}
.sort-label span:hover {
	color: white;
	background-color: orange;
}
.error-text {
	font-size: 20px;
	line-height: 1.8;
	color: white;
	letter-spacing: 4px;
}

@media screen and (max-width: 1400px) {
	.recent-post-item {
		width: calc(100% / 2 - 20px);
	}
}

@media screen and (max-width: 600px) {
	.recent-post-item {
		width: calc(100% - 20px);
	}
}
