@charset "UTF-8";
/* flex */
.flx-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flx-justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flx-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* clearfix */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.fade-transform-enter-from {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

/* Breadcrumb */
.breadcrumb-enter-active {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 0 white;
          box-shadow: inset 0 0 0 white;
}

/* nprogress样式 */
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--el-color-primary) !important;
  border-left-color: var(--el-color-primary) !important;
}

#nprogress .peg {
  -webkit-box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
          box-shadow: 0 0 10px var(--el-color-primary), 0 0 5px var(--el-color-primary) !important;
}

/* 外边距、内边距全局样式 */
.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.mt1 {
  margin-top: 1px !important;
}

.mr1 {
  margin-right: 1px !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.ml1 {
  margin-left: 1px !important;
}

.pt1 {
  padding-top: 1px !important;
}

.pr1 {
  padding-right: 1px !important;
}

.pb1 {
  padding-bottom: 1px !important;
}

.pl1 {
  padding-left: 1px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.mt3 {
  margin-top: 3px !important;
}

.mr3 {
  margin-right: 3px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.ml3 {
  margin-left: 3px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pb3 {
  padding-bottom: 3px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mr6 {
  margin-right: 6px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.pl6 {
  padding-left: 6px !important;
}

.mt7 {
  margin-top: 7px !important;
}

.mr7 {
  margin-right: 7px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.pt7 {
  padding-top: 7px !important;
}

.pr7 {
  padding-right: 7px !important;
}

.pb7 {
  padding-bottom: 7px !important;
}

.pl7 {
  padding-left: 7px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.mt9 {
  margin-top: 9px !important;
}

.mr9 {
  margin-right: 9px !important;
}

.mb9 {
  margin-bottom: 9px !important;
}

.ml9 {
  margin-left: 9px !important;
}

.pt9 {
  padding-top: 9px !important;
}

.pr9 {
  padding-right: 9px !important;
}

.pb9 {
  padding-bottom: 9px !important;
}

.pl9 {
  padding-left: 9px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.mt11 {
  margin-top: 11px !important;
}

.mr11 {
  margin-right: 11px !important;
}

.mb11 {
  margin-bottom: 11px !important;
}

.ml11 {
  margin-left: 11px !important;
}

.pt11 {
  padding-top: 11px !important;
}

.pr11 {
  padding-right: 11px !important;
}

.pb11 {
  padding-bottom: 11px !important;
}

.pl11 {
  padding-left: 11px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.mt13 {
  margin-top: 13px !important;
}

.mr13 {
  margin-right: 13px !important;
}

.mb13 {
  margin-bottom: 13px !important;
}

.ml13 {
  margin-left: 13px !important;
}

.pt13 {
  padding-top: 13px !important;
}

.pr13 {
  padding-right: 13px !important;
}

.pb13 {
  padding-bottom: 13px !important;
}

.pl13 {
  padding-left: 13px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mr14 {
  margin-right: 14px !important;
}

.mb14 {
  margin-bottom: 14px !important;
}

.ml14 {
  margin-left: 14px !important;
}

.pt14 {
  padding-top: 14px !important;
}

.pr14 {
  padding-right: 14px !important;
}

.pb14 {
  padding-bottom: 14px !important;
}

.pl14 {
  padding-left: 14px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.pl16 {
  padding-left: 16px !important;
}

.mt17 {
  margin-top: 17px !important;
}

.mr17 {
  margin-right: 17px !important;
}

.mb17 {
  margin-bottom: 17px !important;
}

.ml17 {
  margin-left: 17px !important;
}

.pt17 {
  padding-top: 17px !important;
}

.pr17 {
  padding-right: 17px !important;
}

.pb17 {
  padding-bottom: 17px !important;
}

.pl17 {
  padding-left: 17px !important;
}

.mt18 {
  margin-top: 18px !important;
}

.mr18 {
  margin-right: 18px !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.ml18 {
  margin-left: 18px !important;
}

.pt18 {
  padding-top: 18px !important;
}

.pr18 {
  padding-right: 18px !important;
}

.pb18 {
  padding-bottom: 18px !important;
}

.pl18 {
  padding-left: 18px !important;
}

.mt19 {
  margin-top: 19px !important;
}

.mr19 {
  margin-right: 19px !important;
}

.mb19 {
  margin-bottom: 19px !important;
}

.ml19 {
  margin-left: 19px !important;
}

.pt19 {
  padding-top: 19px !important;
}

.pr19 {
  padding-right: 19px !important;
}

.pb19 {
  padding-bottom: 19px !important;
}

.pl19 {
  padding-left: 19px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.mt21 {
  margin-top: 21px !important;
}

.mr21 {
  margin-right: 21px !important;
}

.mb21 {
  margin-bottom: 21px !important;
}

.ml21 {
  margin-left: 21px !important;
}

.pt21 {
  padding-top: 21px !important;
}

.pr21 {
  padding-right: 21px !important;
}

.pb21 {
  padding-bottom: 21px !important;
}

.pl21 {
  padding-left: 21px !important;
}

.mt22 {
  margin-top: 22px !important;
}

.mr22 {
  margin-right: 22px !important;
}

.mb22 {
  margin-bottom: 22px !important;
}

.ml22 {
  margin-left: 22px !important;
}

.pt22 {
  padding-top: 22px !important;
}

.pr22 {
  padding-right: 22px !important;
}

.pb22 {
  padding-bottom: 22px !important;
}

.pl22 {
  padding-left: 22px !important;
}

.mt23 {
  margin-top: 23px !important;
}

.mr23 {
  margin-right: 23px !important;
}

.mb23 {
  margin-bottom: 23px !important;
}

.ml23 {
  margin-left: 23px !important;
}

.pt23 {
  padding-top: 23px !important;
}

.pr23 {
  padding-right: 23px !important;
}

.pb23 {
  padding-bottom: 23px !important;
}

.pl23 {
  padding-left: 23px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.ml24 {
  margin-left: 24px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pb24 {
  padding-bottom: 24px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.mt26 {
  margin-top: 26px !important;
}

.mr26 {
  margin-right: 26px !important;
}

.mb26 {
  margin-bottom: 26px !important;
}

.ml26 {
  margin-left: 26px !important;
}

.pt26 {
  padding-top: 26px !important;
}

.pr26 {
  padding-right: 26px !important;
}

.pb26 {
  padding-bottom: 26px !important;
}

.pl26 {
  padding-left: 26px !important;
}

.mt27 {
  margin-top: 27px !important;
}

.mr27 {
  margin-right: 27px !important;
}

.mb27 {
  margin-bottom: 27px !important;
}

.ml27 {
  margin-left: 27px !important;
}

.pt27 {
  padding-top: 27px !important;
}

.pr27 {
  padding-right: 27px !important;
}

.pb27 {
  padding-bottom: 27px !important;
}

.pl27 {
  padding-left: 27px !important;
}

.mt28 {
  margin-top: 28px !important;
}

.mr28 {
  margin-right: 28px !important;
}

.mb28 {
  margin-bottom: 28px !important;
}

.ml28 {
  margin-left: 28px !important;
}

.pt28 {
  padding-top: 28px !important;
}

.pr28 {
  padding-right: 28px !important;
}

.pb28 {
  padding-bottom: 28px !important;
}

.pl28 {
  padding-left: 28px !important;
}

.mt29 {
  margin-top: 29px !important;
}

.mr29 {
  margin-right: 29px !important;
}

.mb29 {
  margin-bottom: 29px !important;
}

.ml29 {
  margin-left: 29px !important;
}

.pt29 {
  padding-top: 29px !important;
}

.pr29 {
  padding-right: 29px !important;
}

.pb29 {
  padding-bottom: 29px !important;
}

.pl29 {
  padding-left: 29px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.mt31 {
  margin-top: 31px !important;
}

.mr31 {
  margin-right: 31px !important;
}

.mb31 {
  margin-bottom: 31px !important;
}

.ml31 {
  margin-left: 31px !important;
}

.pt31 {
  padding-top: 31px !important;
}

.pr31 {
  padding-right: 31px !important;
}

.pb31 {
  padding-bottom: 31px !important;
}

.pl31 {
  padding-left: 31px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mr32 {
  margin-right: 32px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.ml32 {
  margin-left: 32px !important;
}

.pt32 {
  padding-top: 32px !important;
}

.pr32 {
  padding-right: 32px !important;
}

.pb32 {
  padding-bottom: 32px !important;
}

.pl32 {
  padding-left: 32px !important;
}

.mt33 {
  margin-top: 33px !important;
}

.mr33 {
  margin-right: 33px !important;
}

.mb33 {
  margin-bottom: 33px !important;
}

.ml33 {
  margin-left: 33px !important;
}

.pt33 {
  padding-top: 33px !important;
}

.pr33 {
  padding-right: 33px !important;
}

.pb33 {
  padding-bottom: 33px !important;
}

.pl33 {
  padding-left: 33px !important;
}

.mt34 {
  margin-top: 34px !important;
}

.mr34 {
  margin-right: 34px !important;
}

.mb34 {
  margin-bottom: 34px !important;
}

.ml34 {
  margin-left: 34px !important;
}

.pt34 {
  padding-top: 34px !important;
}

.pr34 {
  padding-right: 34px !important;
}

.pb34 {
  padding-bottom: 34px !important;
}

.pl34 {
  padding-left: 34px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.mt36 {
  margin-top: 36px !important;
}

.mr36 {
  margin-right: 36px !important;
}

.mb36 {
  margin-bottom: 36px !important;
}

.ml36 {
  margin-left: 36px !important;
}

.pt36 {
  padding-top: 36px !important;
}

.pr36 {
  padding-right: 36px !important;
}

.pb36 {
  padding-bottom: 36px !important;
}

.pl36 {
  padding-left: 36px !important;
}

.mt37 {
  margin-top: 37px !important;
}

.mr37 {
  margin-right: 37px !important;
}

.mb37 {
  margin-bottom: 37px !important;
}

.ml37 {
  margin-left: 37px !important;
}

.pt37 {
  padding-top: 37px !important;
}

.pr37 {
  padding-right: 37px !important;
}

.pb37 {
  padding-bottom: 37px !important;
}

.pl37 {
  padding-left: 37px !important;
}

.mt38 {
  margin-top: 38px !important;
}

.mr38 {
  margin-right: 38px !important;
}

.mb38 {
  margin-bottom: 38px !important;
}

.ml38 {
  margin-left: 38px !important;
}

.pt38 {
  padding-top: 38px !important;
}

.pr38 {
  padding-right: 38px !important;
}

.pb38 {
  padding-bottom: 38px !important;
}

.pl38 {
  padding-left: 38px !important;
}

.mt39 {
  margin-top: 39px !important;
}

.mr39 {
  margin-right: 39px !important;
}

.mb39 {
  margin-bottom: 39px !important;
}

.ml39 {
  margin-left: 39px !important;
}

.pt39 {
  padding-top: 39px !important;
}

.pr39 {
  padding-right: 39px !important;
}

.pb39 {
  padding-bottom: 39px !important;
}

.pl39 {
  padding-left: 39px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}
/*# sourceMappingURL=common.css.map */