.emoji-body {
	max-width: 400px;
}
.emoji-item {
	display: inline-block;
	cursor: pointer;
}
.emoji-item:hover {
	background: #dddddd;
	border-radius: 0.25rem;
	transition: all 0.2s;
}
.emoji {
	margin: 0.25rem;

	/* 把此元素放置在父元素的中部 */
	vertical-align: middle;
}
.body-enter-active,
.body-leave-active {
	transition: all 0.3s;
}
.body-enter,
.body-leave-to {
	opacity: 0;
	transform: scale(0.5);
}

/* 居中 */
.myCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
}
